<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ header }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ header }}</h1>
    
    <table border="1">
        <thead>
            <tr style="background-color: #4CAF50; color: white;">
                <th>Número de Parte</th>
                <th>Nombre de la Parte</th>
                <th>Semana Total CDR</th>
                <th>Semana Total APRC</th>
                <th>Semana Total Renault</th>
                {% for semana in semanas %}
                    <th>Semana {{ semana }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item["Número de Parte"] }}</td>
                    <td>{{ item["Nombre de la Parte"] }}</td>
                    <td>{{ item["Total CDR"] }}</td>
                    <td>{{ item["Total APRC"] }}</td>
                    <td>{{ item["Total Renault"] }}</td>
                    {% for semana in semanas %}
                        <td>
                            {% if semana in item %}
                                {% for almacen, cantidad in item[semana].items() %}
                                    {{ almacen }}: {{ cantidad }}<br>
                                {% endfor %}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Subir nuevos archivos de pedidos</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="almacen">Seleccionar Almacén:</label>
        <select name="almacen" id="almacen">
            <option value="CDR">CDR</option>
            <option value="APRC">APRC</option>
            <option value="Renault">Renault</option>
        </select>
        <br><br>
        <input type="file" name="files" multiple required>
        <br><br>
        <button type="submit">Cargar Pedidos</button>
    </form>
</body>
</html>


